body {
    color: white;
    background-color: #000D21;
    font-family: 'EB Garamond'; 
}

p {
    color: white;
    background-color: #000D21;
    font-family: 'EB Garamond';
}
.column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 a:link {
    color: #6B0800;
 }