body {
    color: white;
    background-color: #0B1024;
    font-family: 'EB Garamond'; 
}

p {
    color: white;
    background-color: #0B1024;
    font-family: 'EB Garamond';
}
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }